<!DOCTYPE html>
<html>
  <head>
    <title>Flash Cards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style media="screen">
    li { list-style: none; }
  </style>
  <body>
    <div class="">
      <!-- <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cards">Cards</a></li>
          <li><a href="/hello">Hello</a></li>
        </ul>
      </nav> -->
    </div>
