<% include partials/header %>


    <!-- <header>
      <img src="images/logo.png" alt="">
      <% if (name) { %>
      <h2>Welcome <%= name %></h2>
      <% } %>
    </header> -->
    <section class="flashcards">
        <div class="card card-answer">
            <div class="card-header">
            </div>
            <h1 class="card-title">Answer</h1>
            <div id="content">
                <h2>&lt; script &gt;</h2>
            </div>
            <div class="card-flip-wrap">
                <a href="card-front.html"><img src="img/flip.svg" class="card-flip"></a>
            </div>
            <div class="card-next">
                <a href="error.html"><img src="img/next.svg"></a>
            </div>
        </div>
    </section>


<% include partials/footer %>
