
<section class="desk">
  <h1><%= message %> - Status: <%= error.status %></h1>
  <img class="desk-items" src="images/desk.svg" alt="">
  <a href="/" class="button-primary-small">Go Home</a>
  <div class="paper">
      <pre class="stack-trace"><%= error.stack %></pre>
  </div>
  <div class="tear"></div>

</section>
