<% include partials/header %>
<header>
  <img src="images/logo.png" alt="">
  <p><%= info %></p>
</header>
<section class="namecard">
  <div class="namecard-login">

      <div class="namecard-hello">
        <p class="namecard-greeting"> <%= name %>!</p>
  </div>
      <label class="namecard-prompt" for="user">Let's get started</label>
      <a href="/cards" class="namecard-submit">Begin!!</a>
  <br><br>
</section>



<% include partials/footer %>
